html, body {
	position: relative;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#graphContainer {
	position: relative;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    margin-left: 150px;
}

#legendContainer {
	float: left;
	height: 100%;
	overflow-y: scroll;
	width: 150px;
	background-color: #dcdcdc;
	box-shadow: 5px 5px 3px #888888;
}

#legendList li {
	margin-top: 5px;
}

#edgeParamTable {
	border-spacing: 5px;
  border-collapse: separate;
}

.controlGroup {
	margin-top: 20px;
}
